In [2]:
import pandas as pd
import os
from google.cloud import bigquery
import json
from google.oauth2 import service_account
import db_dtypes

In [3]:
# Obtain the key from the environment variable
service_account_key =os.getenv('GCP_ACCESS_KEY')
if not service_account_key:
    raise ValueError("The GCP_SERVICE_ACCOUNT_KEY environment variable is not set")

key_data = json.loads(service_account_key)

credentials = service_account.Credentials.from_service_account_info(
    key_data,
    scopes=["https://www.googleapis.com/auth/cloud-platform"],
)

In [4]:
service_acc_key=os.getenv('GCP_ACCESS_KEY')

In [5]:
project_id = os.getenv('GOOGLE_PROJECT_MAIN_FP')

In [9]:
client = bigquery.Client(credentials=credentials,project=project_id)

In [10]:
sql = """
SELECT * FROM `bigquery-public-data.san_francisco.bikeshare_trips` LIMIT 10
 """

In [11]:
# import pandas_gbq
# df = pandas_gbq.read_gbq(sql, project_id=project_id, credentials=credentials, progress_bar_type=None)

In [12]:

df = client.query(sql).to_dataframe()

In [13]:
df.head()

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,subscriber_type
0,1235850,1540,2016-06-11 08:19:00+00:00,San Jose Diridon Caltrain Station,2,2016-06-11 08:45:00+00:00,San Jose Diridon Caltrain Station,2,124,15206,Customer
1,1219337,6324,2016-05-29 12:49:00+00:00,San Jose Diridon Caltrain Station,2,2016-05-29 14:34:00+00:00,San Jose Diridon Caltrain Station,2,174,55416,Customer
2,793762,115572,2015-06-04 09:22:00+00:00,San Jose Diridon Caltrain Station,2,2015-06-05 17:28:00+00:00,San Jose Diridon Caltrain Station,2,190,95391,Customer
3,453845,54120,2014-09-15 16:53:00+00:00,San Jose Diridon Caltrain Station,2,2014-09-16 07:55:00+00:00,San Jose Diridon Caltrain Station,2,127,81,Customer
4,1245113,5018,2016-06-17 20:08:00+00:00,San Jose Diridon Caltrain Station,2,2016-06-17 21:32:00+00:00,San Jose Diridon Caltrain Station,2,153,95070,Customer

In [18]:
df.shape

(151245, 3)

In [17]:
df['city_name'].value_counts()

city_name
Atlanta             18942
Washington          18942
Chicago             18932
Ciudad de MÃ©xico    18932
Seattle             18912
San Francisco       18912
New York            18850
Los Angeles         18823
Name: count, dtype: int64

#### BigQuery Model Creations

In [14]:
table_name = "'bigquery-public-data.san_francisco.bikeshare_trips'"

In [15]:
query_papams = [
    bigquery.ScalarQueryParameter("table_name", "STRING", "San Francisco"),
]
job_config = bigquery.QueryJobConfig()
job_config.query_parameters = query_papams

sql = """ SELECT * FROM
 @table_name """

query_job = client.query(sql, job_config=job_config)
query_job.result()
print(" Model is created successfully")

BadRequest: 400 Query parameters cannot be used in place of table names at [2:2]

Location: US
Job ID: cf19d0c4-8fcd-40b5-aa55-a17cb3838cdf

In [ ]:
sql = """
SELECT * FROM `bigquery-public-data.covid19_geotab_mobility_impact.city_congestion` 
 """
model_creation = client.query(sql).to_dataframe()