In [1]:
import pandas as pd
import os
from google.cloud import bigquery
import json
from google.oauth2 import service_account
import db_dtypes

In [3]:
# Obtain the key from the environment variable
service_account_key =os.getenv('GCP_ACCESS_KEY')
if not service_account_key:
    raise ValueError("The GCP_SERVICE_ACCOUNT_KEY environment variable is not set")

key_data = json.loads(service_account_key)

credentials = service_account.Credentials.from_service_account_info(
    key_data,
    scopes=["https://www.googleapis.com/auth/cloud-platform"],
)

In [4]:
service_acc_key=os.getenv('GCP_ACCESS_KEY')

In [5]:
project_id = os.getenv('GOOGLE_PROJECT_MAIN_FP')

In [6]:
client = bigquery.Client(credentials=credentials,project=project_id)

In [8]:
sql = """
SELECT * FROM `bigquery-public-data.austin_waste.waste_and_diversion` LIMIT 10
 """

In [9]:
# import pandas_gbq
# df = pandas_gbq.read_gbq(sql, project_id=project_id, credentials=credentials, progress_bar_type=None)

In [10]:
sql = """
SELECT * FROM `bigquery-public-data.austin_waste.waste_and_diversion` LIMIT 10
 """
df = client.query(sql).to_dataframe()

In [11]:
df.head()

,load_id,report_date,load_type,load_time,load_weight,dropoff_site,route_type,route_number
0,336590,2009-08-07,RECYCLING - SINGLE STREAM,2009-08-07 11:51:00+00:00,4400.0,MRF,RECYCLING - SINGLE STREAM,DF1
1,274232,2008-04-11,RECYCLING - PAPER,2008-04-11 12:31:00+00:00,1920.0,MRF,RECYCLING - SINGLE STREAM,DF1
2,312167,2009-01-16,RECYCLING - SINGLE STREAM,2009-01-16 12:58:00+00:00,4140.0,MRF,RECYCLING - SINGLE STREAM,DF1
3,333746,2009-07-10,RECYCLING - SINGLE STREAM,2009-07-10 11:21:00+00:00,4020.0,MRF,RECYCLING - SINGLE STREAM,DF1
4,164543,2006-02-03,RECYCLING - COMINGLE,2006-02-03 12:36:00+00:00,1700.0,MRF,RECYCLING - SINGLE STREAM,DF1